body {
    background-color: black;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

}

#menul {
    float: left;
    padding-left: 30px;
}

#menur {
    float: right;
    padding-right: 30px;
}


.nav {
    position: relative;
    top: -9px;
    padding: 10px 0px 50px 0px;
    background-color: black;
    margin-bottom: 0px;
      
}

.nav ul,li,a {
    display: inline;
    padding: 4px;
    color: red;
}

.titlu {
    padding-bottom: 50px;
    color: whitesmoke;
    text-align: center;
}

#specs1{
    float: left;
}

#xvs{
    float: right;
    width: 500px;
    padding-right: 150px;
}

.title1 ul{
    display: inline-grid;
    font-size: 25px;
    color: whitesmoke;
    padding-left: 70px;
}

#subtitle{
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

#model1 {
    margin-top: 100px;
    color: whitesmoke;
    margin-bottom: 10px;
}
#displacement1 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#engine1 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#power1 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#torque1 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#fuel1 {
    color: whitesmoke;
    margin-bottom: 10px;
}

#subtitle2{
    position: absolute;
    visibility: visible;
    color: whitesmoke;
    left: 800px;
    bottom: -100px;
    text-decoration: underline;
}

#specs2{
    position: absolute;
    visibility: visible;
    font-size: 25px;
    float: left;
    display: grid;
    left: 31px;
    bottom: -700px;
}
#model2 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#displacement2 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#engine2 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#power2 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#lubrication2 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#clutch2 {
    color: whitesmoke;
    margin-bottom: 10px;
}

#duke{
    position: absolute;
    width: 800px;
    height:630px;
    bottom: -800px;
    right: 50px
}